body{
            background-color: black;
            color: white;

        }
        li{
            font-size: 20px;
            color:rgb(0, 140, 255)
        }

        #html{
            color:rgb(255, 106, 0)
        }
        #css{
            color:rgb(0, 140, 255)
        }
        #javascript{
            color: rgb(234, 255, 0);
        }
        /* 
            2 li como azul claro
            3 li como amarelo
        */
        button{
            background-color: blue;
            padding: 10px 20px; /* ESPAÇO INTERNO */
            margin: 10px; /* ESPAÇO EXTERNO */
            border-radius: 10px; /* BORDA */
        }

        span{
            front-size: 20px;
            color: aliceblue
        }
        
        